.edit-profile-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f5f7fa;
}

.edit-profile-container h2 {
  text-align: center;
  color: #1e3a8a;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.edit-profile-form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
}

.edit-profile-form input,
.edit-profile-form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.edit-profile-form button {
  background-color: #1e3a8a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.back-button {
  background-color: transparent;
  color: #004aad;
  border: 1px solid #004aad;
  padding: 10px 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.back-button:hover {
  background-color: #004aad;
  color: white;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }